@font-face {
  font-family: Vazir;
  src: url("/f19/TodoApp/font/Vazir-Medium.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Vazir";
}

html {
  font-size: 62.5%;
  position: relative;
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

input,
button {
  font: inherit;
  border: 0;
  background: transparent;
}

button {
  display: flex;
  user-select: none;
}

input:focus,
button:focus {
  outline: 0;
}

label {
  display: none;
}

body {
  background-image: url("../assets/images/bg-desktop-dark.png");
  background-repeat: no-repeat;
  background-size: 100vw 40rem;
  background-color: hsl(235deg, 21%, 11%);
  margin-top: 200px;
  padding-top: 8rem;
  min-height: 100%;
  margin: auto;
  width: min(85%, 54rem);
}

/* HEADER'S CARD */
header .card {
  background: transparent;
  padding: 0;
  align-items: flex-start;
}

.card {
  background-color: hsl(235deg, 24%, 19%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 2rem;
  gap: 2rem;
}
.card h1 {
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  font-size: 30px;
}
.card #theme-switcher {
  background: transparent;
  border: 0;
}
.card #theme-switcher:focus {
  outline: 0;
}
.card #theme-switcher img {
  width: 50px;
}

/* CHECKBOX CONTAINER AND FIELD */
.card .cb-container {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid hsl(233deg, 14%, 35%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card .cb-container .cb-input {
  transform: scale(1.8);
  opacity: 0;
}
.card .cb-container .cb-input:checked + .check {
  background: url("../assets/images/icon-check.svg"), linear-gradient(45deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}
.card .cb-container .check {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  border-radius: inherit;
}

/* ADD CARD */
.add {
  margin: 4rem 0 2.5rem 0;
  border-radius: 0.5rem;
}
.add .cb-container {
  transition: background 0.03s ease;
}
.add .cb-container:hover {
  background: hsl(220deg, 98%, 61%);
}
.add .cb-container:hover #add-btn {
  color: hsl(0deg, 0%, 100%);
}
.add .cb-container:active {
  transform: scale(0.95);
}
.add .cb-container #add-btn {
  color: hsl(234deg, 39%, 75%);
  font-size: 1.6rem;
  transition: color 0.3s ease;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.add .txt-container {
  flex: 1;
}
.add .txt-container .txt-input {
  width: 100%;
  padding: 0.7rem 0;
  color: hsl(236deg, 33%, 92%);
}
.add .txt-container .txt-input::placeholder {
  color: hsl(233deg, 14%, 35%);
  font-weight: 400;
}

/* TODOS CONTAINER */
.todos {
  transition: 0.4s ease;
}
.todos .card[draggable] {
  cursor: move;
}
.todos .card {
  border-top: 0.2rem solid hsl(235deg, 19%, 24%);
}
.todos .card:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 0;
}
.todos .card:hover .clear {
  opacity: 1;
  pointer-events: all;
}
.todos .item {
  flex: 1;
  color: hsl(234deg, 39%, 75%);
}
.todos .item:hover {
  color: hsl(236deg, 33%, 92%);
}

/* COMPLETED ITEM */
.todos .card .checked .item {
  text-decoration: line-through;
  color: hsl(234deg, 11%, 52%);
  text-decoration-color: hsl(234deg, 11%, 52%);
}

/* CLEAR CONTAINER */
.clear {
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

/* STAT CONTAINER */
.stat {
  color: hsl(237deg, 12%, 36%);
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: 0.2rem solid hsl(235deg, 19%, 24%);
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.stat .corner:last-child {
  display: flex;
  justify-content: flex-end;
}
.stat .corner #clear-completed {
  color: hsl(237deg, 12%, 36%);
}
.stat .corner #clear-completed:hover {
  color: hsl(0deg, 0%, 98%);
}
.stat .filter {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.stat .filter button {
  color: hsl(237deg, 12%, 36%);
}
.stat .filter button:hover {
  color: hsl(0deg, 0%, 98%);
}
.stat .filter .on {
  color: hsl(220deg, 98%, 61%);
}

/* FOOTER */
footer {
  margin: 3rem 0;
  text-align: center;
  color: hsl(233deg, 14%, 35%);
}

/* FILTER TODOS */
.todos.active .card.checked {
  transition: 0.4s;
  opacity: 0;
  padding: 0;
  border: 0;
  height: 0;
  pointer-events: none;
}

.todos.completed .card {
  transition: 0.4s;
  opacity: 0;
  padding: 0;
  border: 0;
  height: 0;
  pointer-events: none;
}

.todos.completed .card.checked {
  opacity: 1;
  padding: 1.9rem 2rem;
  height: auto;
  display: flex;
  pointer-events: all;
  transition: 0.4s;
}

.todos.completed > .card.checked .card.checked {
  border-top: 0.2rem solid hsl(235deg, 19%, 24%);
}

body.light {
  background-image: url("../assets/images/bg-desktop-light.png");
  background-color: hsl(0deg, 0%, 98%);
}
body.light .card {
  background-color: hsl(0deg, 0%, 100%);
}
body.light .txt-container .txt-input {
  color: hsl(240deg, 8%, 24%);
}
body.light .txt-container .txt-input::placeholder {
  color: hsl(252deg, 9%, 73%);
}
body.light .todos .card {
  border-top: 0.2rem solid hsl(252deg, 21%, 94%);
}
body.light .todos .card:first-child {
  border-top: 0;
}
body.light .todos .card .item {
  color: hsl(243deg, 12%, 30%);
}
body.light .todos .card .item:hover {
  color: hsl(237deg, 10%, 64%);
}
body.light .stat {
  border-top: 0.2rem solid hsl(252deg, 21%, 94%);
}
body.light .add .txt-container .txt-input {
  font-weight: 700;
}
body.light .todos {
  box-shadow: 0 0 2rem 0.4rem hsla(0deg, 0%, 0%, 0.1);
}
body.light .stat {
  box-shadow: 0 1rem 2rem -0.4rem hsla(0deg, 0%, 0%, 0.1);
}
body.light footer {
  color: hsl(252deg, 9%, 73%);
}
body.light .stat .corner #clear-completed {
  color: hsl(252deg, 9%, 73%);
}
body.light .stat .corner #clear-completed:hover {
  color: hsl(243deg, 12%, 30%);
}
body.light .stat .filter::before {
  background-color: hsl(0deg, 0%, 98%);
}
body.light .stat button {
  color: hsl(252deg, 9%, 73%);
}
body.light .stat button:hover {
  color: hsl(243deg, 12%, 30%);
}

@media (max-width: 599px) {
  .stat {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem 2rem;
  }
  .stat .filter {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: space-around;
    position: relative;
  }
  .stat .filter::before {
    content: "";
    position: absolute;
    width: calc(100% + 4rem);
    height: 1rem;
    background-color: hsl(235deg, 21%, 11%);
    top: -3rem;
  }
}
@media (max-width: 340px) {
  header.card {
    align-items: center;
  }
  header.card h1 {
    font-size: 2.4rem;
  }
}/*# sourceMappingURL=style.css.map */